[Unit]
Description=Sonarr
After=network.target
Requires=network.target

[Service]
Type=forking
ExecStart=/bin/sh /storage/.kodi/addons/service.sonarr/bin/sonarr.ctl
Restart=on-failure

[Install]
WantedBy=kodi.target
